[mariadb]
plugin_maturity=experimental
datadir=${OVERRIDE}
lc_messages_dir=${OVERRIDE}
plugin_dir=${OVERRIDE}
max_connections=2000
core_file
skip-log-bin
port=${OVERRIDE}
performance_schema=OFF
socket=${OVERRIDE}
plugin_load_add=ha_monograph
thread_handling=pool-of-threads
thread_pool_size=${SET_FOR_ME}
thread_pool_max_threads=4
thread_pool_dedicated_listener=1
# monograph engine specific parameter.
monograph
monograph_kv_storage=cass
#monograph_keyspace_name=waiter
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_local_ip=${OVERRIDE}
monograph_ip_list=${OVERRIDE}
#monograph_metrics_port=18081
monograph_enable_mvcc=off
transaction_isolation=READ-COMMITTED
monograph_cc_protocol=OCC
monograph_enable_metrics=true
monograph_core_num=${SET_FOR_ME}
monograph_node_memory_limit_mb=${SET_FOR_ME}