[mariadb]
plugin_maturity=experimental
datadir=_INSTALL_DIR/datafarm
lc_messages_dir=_INSTALL_DIR/share
plugin_dir=_INSTALL_DIR/plugin
max_connections=2000
core_file
skip-log-bin
port=3300
performance_schema=OFF
socket=/tmp/mysqld3300.sock
plugin_load_add=ha_monograph
thread_handling=pool-of-threads
thread_pool_max_threads=4
thread_pool_dedicated_listener=1
# thread_pool_size should be 3/8 of CPU core number.
thread_pool_size=1
# monograph engine specific parameter.
monograph
monograph_cass_hosts=127.0.0.1
monograph_kv_storage=cass
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_local_ip=127.0.0.1:5000
monograph_ip_list=127.0.0.1:5000
#monograph_metrics_port=18081
monograph_enable_mvcc=off
transaction_isolation=READ-COMMITTED
monograph_cc_protocol=OCC
monograph_enable_collect_metrics=true
# core_num should be 3/8 of CPU core number.
monograph_core_num=1
# node_memory_limit_mb is the buffer pool of monographDB,
# should be less than 60% physical memory.
monograph_node_memory_limit_mb=1024
