[mariadb]
#performance_schema=OFF
plugin_maturity=experimental
datadir=_INSTALL_DIR/datafarm
lc_messages_dir=_INSTALL_DIR/share
plugin_dir=_INSTALL_DIR/plugin
max_connections=500
skip-log-bin
port=4007
socket=/tmp/mysqld4007.sock
plugin_load_add=ha_monograph
monograph
monograph_core_num=4
monograph_kv_storage=dynamo
monograph_aws_access_key_id=XXXXXXXXXXX
monograph_aws_secret_key=XXXXXXXXXXXXXX
monograph_dynamodb_region=XX
monograph_dynamodb_endpoint='http://127.0.0.1:8050'
monograph_local_ip=127.0.0.1:5000
monograph_ip_list=127.0.0.1:5000
#monograph_metrics_port=18081