# macOS
.DS_Store

# Visual Studio Code
.vscode/
.devcontainer/
.cursor
eloqctl/
mono_devtools_dist/
#*.json
*.log
# JetBrains
.idea/
*.iml

# CLion
cmake-build-debug/
/cmake-build-wsl_profile/

# build
*.exe
*.app
build/
dist/

# Rust
src/**/target
src/**/target_tarpaulin
target/
# runtime log
src/log/
# srcy-tags
**/srcy-tags.vi

# ctags
**/tags

log/
.monograph_waiter/
.bin/
tests/ssh_keys/test_rsa
tests/**/.eloqctl/
tests/**/topology.generated.yaml
tests/**/topology-v2.yaml
tests/**/id_ed25519
tests/**/id_ed25519.pub
tests/**/authorized_keys
tests/**/exported.yaml
